{% extends "base.html" %}

{% load static %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
<section class="flex flex-col justify-center px-6 py-12 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight">Password reset</h2>
	</div>

	<div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm">
		<form action="{% url 'account:password_reset' %}" method="post">
			{% csrf_token %}
			<div class="my-3">
				<label class="label" for="email">Your Email<span class="text-red-500"> *</span></label>

				<input class="input" name="email" type="email" required id="email">
			</div>

			<div class="my-3">
				<button class="send-code-btn" type="submit">Send Code</button>
			</div>
		</form>

		<div>
			<p class="mt-10 text-center text-sm text-orange-400">
				Already Sign up?
				<a href="{% url 'account:login' %}"
					class="font-semibold leading-6 text-slate-200 hover:text-slate-300 duration-300">Login Now</a>
			</p>
		</div>
	</div>
</section>
{% endblock content %}