asgiref==3.8.1
Django==4.2.10
django-browser-reload==1.18.0
django-pwa==2.0.1
django-tailwind==3.8.0
pillow==11.1.0
sqlparse==0.5.3
# mysqlclient==2.2.4
# mysql_connector_python==8.3.0
# PyMySQL==1.1.0
