{% load static %}


<!-- component -->
<footer
	class="text-orange-500 border-t border-slate-300 bg-gradient-to-r from-slate-500 via-slate-400 to-slate-500 bottom-0">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<!-- grid -->
		<div class="py-8 grid grid-cols-12 gap-x-5 gap-y-8">
			<div
				class="col-span-full xl:col-span-3 relative bg-gradient-to-tr from-slate-700 to-slate-500 rounded-2xl gap-12 p-6 xl:w-72 h-96 flex flex-col justify-center items-center">
				<a class="flex justify-center lg:justify-start">
					<img class="h-8 sm:h-10" src="{% static '/img/sh-group-logo.jpg' %}" alt="logo">
				</a>

				<p class="text-center text-gray-200">Trusted in more than 100 countries & 5 million customers.
					Have any query? contact us we are here for you.</p>

				<div class="flex space-x-4 sm:justify-center">
					<a href="https://github.com/01Shayan" target="_blank"
						class="w-9 h-9 rounded-full flex justify-center items-center bg-white hover:opacity-70 duration-300">
						<i class="text-black bi bi-github"></i>
					</a>

					<a href="#"
						class="w-9 h-9 rounded-full flex justify-center items-center bg-white hover:opacity-70 duration-300">
						<i class="text-black bi bi-instagram"></i>
					</a>

					<a href="#"
						class="w-9 h-9 rounded-full flex justify-center items-center bg-white hover:opacity-70 duration-300">
						<i class="text-black bi bi-discord"></i>
					</a>

					<a href="https://www.linkedin.com/in/shayan-ataei" target="_blank"
						class="w-9 h-9 rounded-full flex justify-center items-center bg-white hover:opacity-70 duration-300">
						<i class="text-black bi bi-linkedin"></i>
					</a>
				</div>
			</div>

			<div
				class="block text-center xl:text-left xl:py-16 col-span-full min-[500px]:col-span-6 md:col-span-4 xl:col-span-3 xl:pl-5">
				<h4 class="text-lg text-orange-400 font-bold mb-9">Get In Touch</h4>

				<ul class="text-gray-900 transition-all duration-500 grid gap-6">
					<li>support@shayanataei.co</li>
					<li>+98 920 100 51 61</li>
					<li>Iran Tehran center.</li>
				</ul>
			</div>

			<div class="block xl:py-16 col-span-full min-[500px]:col-span-6 md:col-span-4 xl:col-span-3">
				<h4 class="text-lg text-orange-400 font-bold mb-9 text-center xl:text-left">Quick Links</h4>

				<div class="flex gap-6 xl:gap-12 max-xl:justify-center">
					<ul class="text-white transition-all duration-500 grid gap-6">
						<li><a href="{% url 'account:home' %}">Home</a></li>
						{% if request.user.is_authenticated %}
						<li><a href="{% url 'product:product_index' %}">Products</a></li>
						{% endif %}
						<li><a href="#">Price Plan</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="{% url 'contact_us:about' %}">About</a></li>
					</ul>

					<ul class="text-white transition-all duration-500 grid gap-6">
						<li><a href="#">Contact</a></li>
						{% if request.user.is_authenticated %}
						<li><a href="{% url 'account:profile' %}">Account</a></li>
						{% endif %}
						<li><a href="#">Price Plan</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
			</div>

			{% if not user.is_authenticated %}
			<div class="block xl:py-16 col-span-full md:col-span-4 xl:col-span-3">
				<h4 class="text-lg text-orange-400 font-bold mb-9 text-center xl:text-left">
					Newsletter<i class="m-2 bi bi-envelope-arrow-down-fill"></i>
				</h4>

				<div class="grid">
					<form action="{% url 'contact_us:subscriber' %}" method="post">
						{% csrf_token %}
						<input class="subscribe-input" name="email" type="email" placeholder="your email..." required id="email" />

						<button class="subscribe-btn" type="submit">
							Subscribe<i class="bi bi-arrow-right"></i>
						</button>
					</form>
				</div>
			</div>

			{% else %}
			<!-- <div class="block xl:py-16 col-span-full md:col-span-4 xl:col-span-3">
				<h4 class="text-lg text-orange-400 font-bold mb-9 text-center xl:text-left">
					eknfpiewnfpin<i class="m-2 bi bi-envelope-arrow-down-fill"></i>
				</h4>

				<div class="grid">
					<form action="{% url 'contact_us:subscriber' %}" method="post">
						{% csrf_token %}
						<input class="subscribe-input" name="subscriber_email" type="email" placeholder="your email..." required
							id="subscriber_email" />

						<button class="subscribe-btn" type="submit">
							Subscribe<i class="bi bi-arrow-right"></i>
						</button>
					</form>
				</div>
			</div> -->
			{% endif %}
		</div>
	</div>

	<div class="py-2 px-12 text-xs sm:text-sm sm:px-6 bg-slate-300">
		<div class="flex-initial text-center justify-center">
			<span class="text-gray-800 ">Copyright@2024 All Right Reserved by </span>
			<a class="hover:text-orange-600 duration-300" href="https://shayanataei.co/" target="_blank">shayanataei.co
				<i class="w-2 bi bi-arrow-up-right"></i>
			</a>
		</div>
	</div>
</footer>